<!DOCTYPE html>
<html lang="en-US" ng-app="app">
    <head>
        <meta charset="UTF-8"/>
        <title>Notepad</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link href="http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.0.0-rc2/css/bootstrap.min.css" rel="stylesheet"/>
        <link href="stylesheets/examplestyle.css" rel="stylesheet"/>
        <script src="http://code.angularjs.org/1.2.10/angular.min.js"></script>
    </head>
    <body>
        <noscript>
            <div class="warning">
This page is not designed to work without JavaScript.
            </div>
        </noscript>
        <header id="page-header">
            <h1>Notepad</h1>
        </header>
        <section id="page-body" ng-controller="MessageController">
            <form ng-submit="newMessage()">
                <input type="text"
                       name="message"
                       ng-model="inputmessage"
                       placeholder="new message here"/>
                <input type="submit"/>
            </form>
            <ul>
                <li ng-repeat="message in messages track by $index">{{message}}</li>
            </ul>
        </section>
        <footer id="page-footer">
            Use this code as you wish.
        </footer>
        <script>
var app = angular.module('app', []);
app.controller("MessageController", function($scope, $http) {
    $http.get("/messages")
        .then(function(response) {
            $scope.messages = response.data;
        }, function() {
            console.error("OH NOES!", arguments);
        });

    $scope.newMessage = function() {
        //$scope.messages.push($scope.inputmessage);

        $http.post("/messages", { message: $scope.inputmessage })
            .then(function(response) {
                if (response.data.message) {
                $scope.messages.push(response.data.message);
                }
            }, function() {
                console.error("OH NOES!", arguments);
            });
    };
});


//var ul = document.querySelector("#page-body ul");
//for (var i = 0; i < messages.legth; i++) {
//    var el = document.createElement("li");
//    el.innerHTML = messages[i];
//    ul.appendChild(el);
//}

        </script>
    </body>
</html>




