* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html, body {
    padding: 0;
    margin: 0;

    font-family: Helvetica, Verdana, sans-serif;
}


/* Tablet(ish) view. */
@media only screen and (max-width: 960px) {

}



/* Mobile(ish) view. */
@media only screen and (max-width: 500px) {

}
